* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  height: 470vh;
  width: 100%;
}
/* Navbar */
.navbar {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 6px 13px 27px -11px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 6px 13px 27px -11px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 6px 13px 27px -11px rgba(0, 0, 0, 0.43);
}
.navbar > .name {
  font-size: 25px;
  font-weight: bolder;
  color: palevioletred;
  /* background: #c373e6;
    background: linear-gradient(90deg, rgba(195, 115, 230, 1) 0%, rgba(189, 89, 154, 1) 35%, rgba(67, 199, 222, 1) 100%);    */
}
.navbar > ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: black;
}
/* Navbar Hover */

/* Home */

.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://img.freepik.com/premium-vector/abstract-background-with-gradient-color-abstract-gradient-background-blue-violet-purple-green_271431-249.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.home > p {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  /* color: antiquewhite; */
}
.home > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 70px;
  /* color: antiquewhite; */
}
.home > .button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.home > .button > button {
  width: 250px;
  height: 65px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba(200, 200, 200, 0.25);
  transition: all 0.3s ease-in-out;
}
.home > .button > button:hover {
  box-shadow: 6px 13px 36px -4px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 6px 13px 36px -4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 6px 13px 36px -4px rgba(0, 0, 0, 0.63);
}
.home > .button > button > .btn {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* About */
.about {
  width: 100%;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.25);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.about > h1 {
  padding-top: 40px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  color: #ee6db2;
}
.about > .item {
  display: flex;
  justify-content: space-around;
  gap: 150px;
}
.about > .item > .image > img {
  width: 400px;
  height: 400px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 5px;
  box-shadow: -1px 6px 33px 2px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -1px 6px 33px 2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 6px 33px 2px rgba(0, 0, 0, 0.44);
}
.about > .item > .text {
  margin-top: 15px;
  margin-right: 30px;
}
.about > .item > .text > h1 {
  margin-top: 7px;
  font-family: "Times New Roman", Times, serif;
}
.about > .item > .text > p {
  margin-top: 35px;
  color: grey;
  font-family: "Times New Roman", Times, serif;
}
.about > .item > .text {
  margin-top: 45px;
}
.about > .item > .text > .button > .row1 {
  margin-top: 45px;
  display: flex;
  gap: 30px;
}
.about > .item > .text > .button > .row2 {
  display: flex;
  gap: 43px;
  margin-top: 30px;
}
/* .about > .item > .text > .button > .row1 ,
.about > .item > .text > .button > .row2{
  width: 150px;
  height: 50px;
  border: 1px solid #ee6db2;
  border-radius: 25px;
  background-color: white;
  transition: all 0.3s ease-in-out; */

.about > .item > .text > .button > .row1 > .btn,
.about > .item > .text > .button > .row2 > .btn {
  text-decoration: none;
  color: #ee6db2;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ee6db2;
  border-radius: 25px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* button hover */
.about > .item > .text > .button > .row1 > .btn:hover {
  color: whitesmoke;
  background-color: #e780b7;
  transform: scale(1.2);
}
.about > .item > .text > .button > .row2 > .btn:hover {
  color: whitesmoke;
  background-color: #e780b7;
  transform: scale(1.2);
}

/* Portfolio */
.portfolio {
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  /* background-color: lightseagreen; */
}
.portfolio > h1 {
  padding-top: 80px;
  color: #ee6db2;
}
.portfolio > .job {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 40px;
  margin-top: 20px;
}
.portfolio > .job > .job1 {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.portfolio > .job > .job2 {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-top: 50px;
}
.portfolio > .job > .job1 > .container,
.portfolio > .job > .job2 > .container {
  width: 400px;
  height: 500px;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  box-shadow: -3px 6px 23px -4px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -3px 6px 23px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -3px 6px 23px -4px rgba(0, 0, 0, 0.44);
  transition: all 0.3s ease-in-out;
}
.portfolio > .job > .job1 > .container > img,
.portfolio > .job > .job2 > .container > img {
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 14px 14px 0 0;
}
.portfolio > .job > .job1 > .container > .button,
.portfolio > .job > .job2 > .container > .button {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.portfolio > .job > .job1 > .container > .button2,
.portfolio > .job > .job2 > .container > .button2 {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.portfolio > .job > .job1 > .container > .button > a,
.portfolio > .job > .job2 > .container > .button > a {
  width: 150px;
  height: 30px;
  background-color: rgba(200, 200, 200, 0.25);
  color: grey;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.portfolio > .job > .job1 > .container > .button2 > a,
.portfolio > .job > .job2 > .container > .button2 > a {
  width: 150px;
  height: 30px;
  background-color: rgba(200, 200, 200, 0.25);
  color: grey;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.portfolio > .job > .job1 > .container > .button > a:hover,
.portfolio > .job > .job2 > .container > .button > a:hover {
  background-color: #ee6db2;
  color: whitesmoke;
  border: none;
}
.portfolio > .job > .job1 > .container > .button2 > a:hover,
.portfolio > .job > .job2 > .container > .button2 > a:hover {
  background-color: #ee6db2;
  color: whitesmoke;
  border: none;
}
/* Container Hover */
.portfolio > .job > .job1 > .container:hover,
.portfolio > .job > .job2 > .container:hover {
  transform: translateY(-20px);
  box-shadow: -3px 14px 28px -4px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -3px 14px 28px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -3px 14px 28px -4px rgba(0, 0, 0, 0.44);
}

/* Container hover on Img */
.portfolio > .job > .job1 > .container:hover img,
.portfolio > .job > .job2 > .container:hover img {
  filter: blur(1px);
  /* background: linear-gradient(#ee6db2); */
}
/* Contact */
.contact {
  width: 100%;
  height: 100vh;
  background-image: url(https://img.freepik.com/premium-vector/abstract-background-with-gradient-color-abstract-gradient-background-blue-violet-purple-green_271431-249.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact > h1{
    margin-top: 85px;
}
